.sidebar {
    /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(8px);
  }
  
  .sidebar ul li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .sidebar ul li:hover {
    color: #059212;
  }